.latest-news-posts {
    margin-top: 35px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 25px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-only(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-only(xs) {
        grid-template-columns: none;
    }
}

.latest-news-link {
    margin-top: 50px;

    .link {}
}