.why-choose {
    margin: 100px 0;
}

.b-why-choose {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-only(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-only(xs) {
        grid-template-columns: none;
    }

    .c {}
}

.why-choose-item {
    position: relative;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    @include media-breakpoint-only(xs) {
        width: 250px;
        margin: 0 auto;
    }

    .number {
        text-shadow: -2px 0 #E6E1D9, 0 2px #E6E1D9, 2px 0 #E6E1D9, 0 -2px #E6E1D9;
        color: $website-bg;

        font-family: 'Syne-Bold';
        font-size: 116px;
        line-height: normal;
    }

    .title {
        width: 80px;

        position: absolute;
        top: 62px;

        .t {
            font-family: 'Poppins-Medium';
            font-size: 14px;
            color: #4E4C49;
            text-transform: uppercase;
        }
    }

    .title-1 {
        left: 111px;
    }

    .title-2 {
        left: 140px;
    }

    .title-3 {
        left: 140px;
    }

    .title-4 {
        left: 150px;
    }
}

.why-choose-article {
    padding-bottom: 25px;
    width: 640px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(md) {
        width: auto;
    }

    .header {

        .top {
            font-size: 14px;
        }

        .title {
            font-size: 40px;

            // @include media-breakpoint-only(xxl) {}

            // @include media-breakpoint-only(xl) {}

            // @include media-breakpoint-only(lg) {}

            // @include media-breakpoint-only(md) {}

            // @include media-breakpoint-only(sm) {}

            @include media-breakpoint-only(xs) {
                font-size: 30px;
            }
        }
    }

    .text {

        p {
            font-size: 16px;
        }
    }
}