.b-footer-main {
    padding: 120px 0;
    min-height: 200px;

    display: grid;
    grid-template-columns: auto auto auto 310px;
    gap: 10px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, auto);
        gap: 50px 0;
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: none;
        gap: 50px;
    }

    >.c-1 {}

    >.c-2 {}

    >.c-3 {}

    >.c-4 {}
}

.b-footer-bottom {
    min-height: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(md) {
        grid-template-columns: none;
        gap: 5px;

        padding: 15px 0;
    }

    >.c-1 {}

    >.c-2 {
        display: grid;
        justify-items: end;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(md) {
            display: block;
        }
    }
}