.achievements-item {

    .number {

        .t {
            font-family: 'Syne-Bold';
            font-size: 56px;
            color: #FD8C4E;
        }
    }

    .title {
        padding-top: 5px;

        .t {
            font-family: 'Poppins-Medium';
            font-size: 14px;
            color: #4E4C49;
            text-transform: uppercase;
        }
    }
}