.contact-us-item {
    width: 640px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(md) {
        width: auto;
    }

    .title {
        font-family: 'Syne-Bold';
        font-size: 40px;
        color: #1A2A36;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(md) {
            font-size: 30px;
        }
    }

    .description {
        padding-top: 10px;

        p {
            margin: 0;
            padding: 0;

            color: #9B9B9B;
            line-height: 24px;

            font-family: 'Poppins-Regular';
            font-size: 16px;

            .phone {
                font-family: 'Poppins-Medium';
            }
        }
    }
}

.contact-us-link {}