.page-link {
    display: inline-flex;
    align-items: center;

    height: 58px;
    box-sizing: border-box;
    padding: 0 35px;

    font-size: 16px;
    font-family: 'Poppins-Regular';

    color: #FFFFFF;
    background-color: #FD8C4E;
    transition: all .25s ease;

    border: 2px solid #FD8C4E;
    border-radius: 50px;

    &:hover {
        color: #FD8C4E;
        background-color: #FFFFFF;
    }
}