.slider {

    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;

        .l {
            display: grid;
            align-items: center;
        }

        .center {
            position: relative;
            overflow: hidden;
        }

        .r {
            display: grid;
            align-items: center;
        }
    }

    .nav {
        padding-top: 20px;
    }
}

.slides {
    // position: absolute;
    float: left;

    display: grid;
    grid-auto-flow: column;

    transition: all .25s ease;
    cursor: pointer;

    .slide {

        .c {
            padding: 0 5px 0 5px;
        }
    }
}

.dots {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 5px;

    .dot {
        width: 10px;
        height: 10px;

        border: 1px solid #FD8C4E;
        border-radius: 50%;

        cursor: pointer;

        transition: background-color .25s ease;

        &:hover {
            background-color: #FD8C4E;
        }
    }

    .active {
        background-color: #FD8C4E;
    }
}

.slider-button {
    width: 50px;
    height: 50px;

    margin: 0;
    padding: 0;

    background: none;
    border: none;

    cursor: pointer;

    color: #1A2A36;

    &:hover {
        color: #FD8C4E;
    }

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    @include media-breakpoint-only(xs) {
        width: 30px;
    }

    .i {
        font-size: 20px;
    }
}

.slider-left-btn {}

.slider-right-btn {}