.header-top-items {
    display: flex;
    flex-direction: row;

    .item {
        margin: 0 20px 0 20px;

        &:first-child {
            margin: 0 20px 0 0;
        }

        &:last-child {
            margin: 0 0 0 20px;
        }

        &:only-child {
            margin: 0;
        }
    }
}

.header-top-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    .i {

        &::before {
            font-size: 12px;
            color: #FD8C4E;
        }
    }

    .text {
        padding-left: 5px;

        .t {
            color: #FFFFFF;
            font-size: 12px;
            font-family: 'Poppins-Light';
        }
    }
}