.main-nav {
    padding-right: 60px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {
        padding-right: 30px;
    }

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}
}

.main-menu {
    display: flex;
    flex-direction: row;

    .item {
        margin: 0 20px 0 20px;

        &:first-child {
            margin: 0 20px 0 0;
        }

        &:last-child {
            margin: 0 0 0 20px;
        }

        &:only-child {
            margin: 0;
        }

        .link {
            text-transform: uppercase;

            font-family: 'Poppins-Medium';
            font-size: 14px;

            color: #4E4C49;
            transition: color .25s ease;

            &:hover {
                color: #FD8C4E;
            }
        }
    }
}