<footer class="footer">
    <div class="g footer-main">
        <div class="container">
            <div class="b-footer-main">
                <div class="c-1">1</div>
                <div class="c-2">2</div>
                <div class="c-3">3</div>
                <div class="c-4">4</div>
            </div>
        </div>
    </div>

    <div class="g footer-bottom">
        <div class="container">
            <div class="b-footer-bottom">
                <div class="c-1">1</div>
                <div class="c-2">2</div>
            </div>
        </div>
    </div>
</footer>