.footer-gallery {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 5px;

    .item {

        .link {
            display: block;

            &:hover {

                .footer-gallery-item {

                    .slide {
                        opacity: .75;
                    }
                }
            }
        }
    }
}

.footer-gallery-item {

    .slide {
        display: block;

        opacity: 1;
        transition: opacity .25s ease;
    }
}

.footer-gallery-link {
    display: block;
    margin-top: 15px;

    font-family: "Poppins-Medium";
    font-size: 14px;
    text-transform: uppercase;

    color: #4E4C49;
    transition: color .25s ease;

    &:hover {
        color: #FD8C4E;
    }
}