@import './scss/settings/variables';
@import './scss/settings/breakpoints';
@import './scss/settings/reset';

@import './scss/fonts/fonts';
@import './scss/fonts/icons';

// base
@import './scss/layout/base/base';
@import './scss/layout/base/header';
@import './scss/layout/base/content';
@import './scss/layout/base/footer';

// blocks
@import './scss/layout/blocks/header/header';
@import './scss/layout/blocks/footer/footer';

// components
@import './scss/layout/components/header/mobile-menu-btn';
@import './scss/layout/components/header/main-menu';
@import './scss/layout/components/footer/footer-menu';

.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #333333;
    color: #F5F5F5;

    font-size: 12px;
}

// @include media-breakpoint-only(xxl) {}

// @include media-breakpoint-only(xl) {}

// @include media-breakpoint-only(lg) {}

// @include media-breakpoint-only(md) {}

// @include media-breakpoint-only(sm) {}

// @include media-breakpoint-only(xs) {}