@import './scss/settings/variables';
@import './scss/settings/breakpoints';
@import './scss/settings/reset';

@import './scss/fonts/fonts';
@import './scss/fonts/icons';

// base
@import './scss/layout/base/base';
@import './scss/layout/base/header';
@import './scss/layout/base/content';
@import './scss/layout/base/footer';

// blocks
@import './scss/layout/blocks/header/header';
@import './scss/layout/blocks/footer/footer';

@import './scss/layout/blocks/pages/home/about';
@import './scss/layout/blocks/pages/home/achievements';
@import './scss/layout/blocks/pages/home/contact-us';
@import './scss/layout/blocks/pages/home/latest-news';
@import './scss/layout/blocks/pages/home/latest-projects';
@import './scss/layout/blocks/pages/home/services';
@import './scss/layout/blocks/pages/home/testimonials';
@import './scss/layout/blocks/pages/home/why-choose';

// components
@import './scss/layout/components/global/links';
@import './scss/layout/components/global/section-article';
@import './scss/layout/components/global/post-preview';

@import './scss/layout/components/global/slider';
@import './scss/layout/components/global/main-slider';

@import './scss/layout/components/header/fixed/header-top-items';
@import './scss/layout/components/header/fixed/header-top-socials';
@import './scss/layout/components/header/fixed/mobile-menu-btn';
@import './scss/layout/components/header/fixed/main-menu';
@import './scss/layout/components/header/fixed/header-callback-btn';
@import './scss/layout/components/header/slider';


@import './scss/layout/components/pages/home/achievements-item';

@import './scss/layout/components/pages/home/contact-us-article';
@import './scss/layout/components/pages/home/about-us-article';
@import './scss/layout/components/pages/home/latest-projects-article';
@import './scss/layout/components/pages/home/latest-news-article';

@import './scss/layout/components/footer/footer';
@import './scss/layout/components/footer/footer-menu';
@import './scss/layout/components/footer/footer-bottom-item';
@import './scss/layout/components/footer/footer-socials';
@import './scss/layout/components/footer/footer-contacts';
@import './scss/layout/components/footer/footer-gallery';
@import './scss/layout/components/footer/footer-newsletter';

.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #333333;
    color: #F5F5F5;

    font-size: 12px;
}

// @include media-breakpoint-only(xxl) {}

// @include media-breakpoint-only(xl) {}

// @include media-breakpoint-only(lg) {}

// @include media-breakpoint-only(md) {}

// @include media-breakpoint-only(sm) {}

// @include media-breakpoint-only(xs) {}


.sld {

    p {
        font-size: 14px;
        text-align: justify;
        line-height: 24px;
    }
}

.splide--slide {
    padding: 0 !important;
}